@font-face {
    font-family: Houschka Pro Bold;
	src: url('styles/fonts/HouschkaPro-Bold.otf');
}
@font-face {
    font-family: Houschka Pro Medium;
	src: url('styles/fonts/HouschkaPro-Medium.otf');
} 
@keyframes changeskew {
    from {
      transform: skewY(5deg);
    }
  
    to {
      transform: skewY(-5deg);
    }
  }
body{
    margin: 0;
    padding:0;
    
}
.main{
   
    height: 465px;
    background: #b9d6ef;
    z-index: -1;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
.empty{
    width: 180px;
    height: 90px;  
}

.large {
    
    text-transform: uppercase;
    font-family: Houschka Pro Bold, sans-serif;
    -webkit-text-stroke-width: 0px; 
    -webkit-text-fill-color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 72px;
    letter-spacing: 5px;
    font-weight: bold;  
  
}
.text2{
    text-transform: uppercase;
    font-family: Hauschka Pro Medium, sans-serif;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 23px;
    color: #4d88ae;
      }
.form, button{
    margin: 0px 5px;
}
button{
    width: 93px;
    height: 36px;
    background: linear-gradient(to top, #faa122 60%, #fddf5f );
    color: #ffffff;
    align-self:center;
    text-transform: uppercase;
    font-family: Houschka Pro Bold, sans-serif;
    font-size: 14px;  
    text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

    font-weight: bolder;
    border-radius: 3px;
    border: 1px solid #faa122;
}
.form{
    width: 240px;
    height: 38px;
    font-size: 12px;
    font-family: Arial Regular, sans-serif;
    padding-top:12px;
    padding-left: 13px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #c6c6c6;
  
    border-radius: 3px;
    border: 1px solid #ededed ;
    box-shadow: 0px 0px 1px 0px #e4e3e3;
}

#ship {
   
    align-self: center;
    padding-bottom: 110px;
    animation-duration: 2s;
  animation-name: changeskew;
  animation-iteration-count: infinite;
  animation-direction: alternate;
   
}
.image-wrap{
   width: 329;
   height: 490;
   margin-top: 20px;
   padding-right: 30px;
 }
 #lower {
    width: 100%;
    height: 460px;
    background: linear-gradient(to bottom, #ddecfa 1%, #0163a2 3%, #266b97 444px);
    z-index: -1;
 }
.circles{
    width:295px;
    height:73px;
   
    justify-content: space-between;
    margin-top: 65px;
    padding-left: 20px;
 }
.textbelow{
    width: 280px;
    height: 18px;
    padding-left: 20px;
    justify-content: space-between;
   
}
.numbers{
    width: 73px;
    height: 73px;
    font-size: 24px;
    font-family: Houschka Pro Medium, sans-serif;
    background-color: #b9d6ef;
    text-align: center;
    color:#266b97;
    border-radius: 35px;
    padding-top: 23px;
    box-sizing: border-box;
}
.text{
  
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color:#266b97;
    border-radius: 35px;
    padding-top: 12px;
    box-sizing: border-box;
    font-family: Houschka Pro Medium, sans-serif;
    -webkit-text-stroke-width: 0px; 
    -webkit-text-fill-color: white;
     font-weight: bold; 
}